<%- include("partials/header"); -%>
<form action="/posts/<%=id%>/delete" method="POST">
  <h1><%=title%></h1>
  <p><%=content%></p>
  <button type="submit" name ="button" class="btn btn-danger">Delete Post</button>
</form>
<%- include("partials/footer"); -%>
